.button{
    background-color: var(--light-yellow);
    font-weight: bold;
    font-family: 'Saira', sans-serif;
    font-size: var(--title-font-size);
    width: 100%;
    padding: 1.2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 0px;
    border-radius: 6px;
    transition: 0.6s;
}

.button:hover{
    background-color: var(--black);
}

.buttonOutline{
    border: solid black 0.1rem;
    border-radius: 6px;
    font-weight: 400;
}