:root {
  --font-size: 60%;
  --backgroundColor: #fafafa;
  --yellow: #FFE000;
  --lightYellow: #FFE235;
}

html,
body {

  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
