:root {
  --font-size: 62.5%;
  --background-color: #fafafa;
  --yellow: #FFE000;
  --light-yellow: #FFE235;
}

html,
body {
  font-size: var(--font-size);
  background-color: var(--background-color);
  height: 100vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

