.headerAndHero{
    padding: 6.4rem 13.3rem;
    padding-bottom: 0;
    margin-bottom: 11.1rem;
}

.hero{
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 3.4rem; 
}

.heroTitle{
    font: var(--display-heavy-font);
}

.heroText{
    font: var(--subheader-light-font);
    color: var(--light-grey);
    margin-top: 1.6rem;
    max-width: 44.8rem;
    margin-right: 16.4rem;
    margin-bottom: 1.6rem;
}

.metrixSection{
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 23.4rem;
}
