.metrixCard{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 3.2rem 2.4rem;
    min-width: 25.4rem;
    min-height: 21rem;
}

.number{
    font: var(--display-heavy-font);
    font-size: 6.4rem;
}

.subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.sizeUnit{
    font: var(--headline-light-font);
}

.text{
    font: var(--subheader-light-font);
    text-align: center;
}