@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Saira:wght@400;700&display=swap');

.metrixCard{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fafafa;
    padding: 1.2rem 2rem;
    width: 100%;
    height: 100%;
}

.number{
    font-size: 6.4rem;
    font-family: 'Saira', sans-serif;
}

.subtitle{
    margin-top: -6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sizeUnit{
    font-size: var(--headline-font-size);
    font-family: inherit;
}

.text{
    margin-top: -1rem;
    font-size: var(--subheader-font-size);
    font-family: 'Archivo', sans-serif;
    max-width: 40rem;
}